*, ::after,::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

p { margin: 0; padding: 0}

body { font-family: var(--fontMontserrat) }


@media (width > 2200px) {
  .sub-header-container, .nav-top, .nav-nav, .nav-list-wrapp  {
    margin: 0 auto;
    max-width: 2200px;
  }
  .knives-type-page {
    margin: 30px auto !important;
    max-width: 2000px;
  }

}

/* change scrollbar style */
body::-webkit-scrollbar { width: .5em }
 
body::-webkit-scrollbar-track { background: var(--greyWhite) }
 
body::-webkit-scrollbar-thumb {
  outline: 1px solid var(--1e2323);
  border-radius: 10px;
  background: var(--1e2323);
  min-height: 235px;
}
@media (width <= 992px) {
  body::-webkit-scrollbar-thumb { min-height: 160px }
}

a { text-decoration: none } 

ul { list-style: none}


:root {
  /* colors */
  --white: #fff;
  --yellow: #E8AA31;
  --darkBlack: #141414;
  --black: #000;
  --d2d2d212: #d2d2d212;
  --1414144d: #1414144d;
  --898989: #898989;
  --127127127: rgba(127, 127, 127, .5);
  --CBCBCB: #CBCBCB;
  --141414Opacity50: #14141480;
  --14141426: #14141426;
  --greyWhite: #ECF1F2;
  --grey03: rgba(255, 255, 255, 0.3);
  --lightBlack: rgb(31, 28, 33);
  --1e2323: #1e2323;
  --whiteOpacity07: rgba(255, 255, 255, 0.7);
  --blackOpacity50: rgba(0, 0, 0, .5);
  --greyOpacity50: rgba(4,4,4,.5);
  --lightGrey: rgba(7, 7, 7, .3);
  --040404: #040404;
  --24AD53: #24AD53;
  --000001: rgba(0, 0, 0, 1);
  --FEFEFE: #FEFEFE;

  /* font sizes */
  --fsz10: 10px;
  --fsz12: 12px;
  --fsz14: 14px;
  --fsz16: 16px;
  --fsz18: 18px;
  --fsz20: 20px;
  --fsz23: 23px;
  --fsz24: 24px;
  --fsz30: 30px;
  --fw700: 700px;
  --fontMontserrat: 'Montserrat', sans-serif;
  --textDecorNone: none;

  /* display */
  --d-grid: grid;
  --d-flex: flex;
  --jc-sb: space-between;
  --jc-c: center;
  --jc-fe: flex-end;
  --ai-c: center;
  --ai-s: start;
  --ai-inher: inherit;
  --fd-col: column;
  --as-start: flex-start;
  --as-baseline: baseline;
  --fb-42: 42%;
  --d-block: block;
  --d-inline-block: inline-block;
  --d-none: none;


  /* widths */
  --initial: initial!important;
  --w-100: 53%;
  --w-95: 95%;
  --w-75: 75%;
  --w-60: 60%;
  --w-55: 55%;
  --w-50: 50%;
  --w-45: 45%;
  --w-40: 40%;
  --w-38: 38%;
  --w-35: 35%;
  --w-22: 22%;
  --w-28: 28%;
  --w-12rem: 12rem;
  --w-22rem: 22rem;
  --w-50rem: 50rem;
  --w-100: 100%;

  /* margins */
  --mt-46: 46px;
  --mt-30: 30px;
  --mr-5:  5px;
  --ml-10: 10px;
  --ml-15: 15px;
  --ml-30: 30px;
  --ml-60: 60px;
  --mr-30: 30px;
  --mr-15: 15px;
  --mb-10: 10px;
  --mb-15: 15px;
  --mb-20: 20px;
  --mb-25: 25px;
  --mb-30: 30px;
  --mr-40: 40px;
  --mb-60: 60px;
  --mb-35: 35px;
  --ml-6: 6%;
  --ml-1: 1%;
  --p-30: 30px;
  --pb-30: 30px;
  --pb-0: 0px;

  --text-center: center;
  --bord-b: 1px solid #fff;

  /* swiper styles */
  /* --swiper-pagination-bottom: 0% !important; */
  --swiper-theme-color: #E8AA31;
  --swiper-pagination-bullet-size: 2px !important;
  --swiper-pagination-bullet-height: 2px !important;
  --swiper-pagination-bullet-inactive-color: #fff !important;
  --swiper-pagination-bullet-width: 18px;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.d-grid { display: var(--d-grid) }
.d-flex { display: var(--d-flex) }
.jc-sb { justify-content: var(--jc-sb ) }
.jc-c { justify-content: var(--jc-c ) }
.jc-fe { justify-content:var(--jc-fe) }
.ai-c { align-items: var(--ai-c) }
.ai-s { align-items: var(--ai-s) }
.ai-inher { align-items: var(--ai-inher) }
.fd-col { flex-direction: var(--fd-col) }
/* .as-start { align-self: var(--as-start) } */
/* .as-baseiline {align-self: var(--as-baseline) } */
.fb-42 { flex-basis: var(--fb-42) }
.d-block {display: var(--d-block) }
.d-inline-block { display: var(--d-inline-block) }
.d-none { display: var(--d-none) }
.w-100 { width: var(--w-100) }
.w-95 { width: var(--w-95) }
.w-75 { width: var(--w-75) }
.w-60 { width: var(--w-60) }
.w-55 { width: var(--w-55) }
.w-50 { width: var(--w-50) }
.w-45 { width: var(--w-45) }
.w-40 { width: var(--w-40) }
.w-38 { width: var(--w-38) }
.w-35 { width: var(--w-35) }
.w-28 { width: var(--w-28) }

.h-60 { height: 60% }
.h-35 { height: 35% }

.w-12rem { width: var(--w-12rem) }
.w-22rem { width: var(--w-22rem) }
.text-center { text-align: var(--text-center) }
.mt-46 { margin-top: var(--mt-46) }
.mt-30 { margin-top: var(--mt-30) }
.mr-5 { margin-right: var(--mr-5) }
.ml-10 { margin-left: var(--ml-10) }
.ml-15 { margin-left: var(--ml-15) }
.mr-30 { margin-right: var(--mr-30) }
.ml-30 { margin-left: var(--ml-30) }
.ml-60 { margin-left: var(--ml-60) }
.mr-15 { margin-right: var(--mr-15) }
.mb-15 { margin-bottom: var(--mb-15) }
.mb-20 { margin-bottom: var(--mb-20) }
.mb-30 { margin-bottom: var(--mb-30) }
.mb-35 { margin-bottom: var(--mb-35) }
.mb-60 { margin-bottom: var(--mb-60) }
.ml-6 { margin-left: var(--ml-6) }
.ml-1 {margin-left: var(--ml-1) }

.pb-30 { padding-bottom: var(--pb-30) }
.p-30 { padding: var(--p-30) }
.pb-0 { padding-bottom: var(--pb-0) }

.bord-b { border-bottom: var(--bord-b) !important }
