@font-face {
  font-family: Montserrat;
  src: url(./Montserrat/fonts/Montserrat.ttf)
}  

/* *{
  padding:0;
  margin: 0;
  box-sizing:border-box;
  font-family: Montserrat;
} */

.types {
  /* padding : clamp(3vw, 4vw, 8vw); */
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
}

.hits, .promo {
  /* padding: clamp(3vw, 5vw, 8vw); */
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
  position: relative;
}

.promo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.8rem;
}

.promo-mini-text a {
  text-decoration: none;
  color: black;
  opacity: 50%;
  display: flex;
}
.promo-mini-text a span {
  color: #E8AA31;
  opacity: 100%;
}

.types-1 , .types-2 {
  display:flex;
  justify-content: space-between;
}

.type-list {
  display: flex;
  justify-content: space-between;
  width: 510px;
  height:293px;
  margin:1rem;
  box-shadow: 0px 4px 20px 0px #00000026;
}
.list-1, .list-4 { margin-left: 0 }
.list-3, .list-6 { margin-right: 0 }

.type-list img {
  width: 45%;
  max-width: 283px;
}

.types hr {
  width: 68px;
  border: 2px solid #E8AA31;
}

.type-text  {
margin:2rem;
line-height: 34px
}
.type-text h2 {
  padding:1rem 0
}
.type-text ul {
  margin-top:  1rem;
  margin-left: 1rem;

}

li::marker {
  color: #E8AA31;
}

.knife {
  width: 375px;
  max-width: 375px;
  margin: 2rem 0;
  margin-left: 1px;
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.knife > img {
  max-width: min-content;
  width: 100%;
 }

.lan-list .knife {
  margin: 0 2rem 0 0;
}

.knife-list {
  display: flex;
}

.knife h3 {
  font-size:20px
}
.hits h1 {
  margin-bottom: 3.8rem;
  /* margin: 1rem 0; */
}
.knife div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.5rem 0;
}

.knife p {
  opacity: 50%;
  line-height: 34px;
}

.liked svg {
  margin: 0 1rem;
}

.add button {
  background-color: #E8AA31;
  min-width: 100%;
  border: none;
}

.knife div:last-child {
  justify-content: center;
}
.res {
  display: none;
}

.buy p {
  opacity: 100%;
  color: white;
  font-size: 18px;
}

.new {
  display: flex;
  background-color: #141414;
  background-image: url(../img/back1.png), url(../img/back1.png);
  background-position: 5% 84%, 205% 98%;
  background-size: 100% 100%, 78% 100%;
  background-attachment: fixed;
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
  background-repeat: no-repeat;
}

.new .knife {
  /* margin-bottom: 0;
  padding-bottom: 0; */
  height: initial;
  max-height: 559px;
}

.new-text p:last-child {
  margin-top: 3.75rem;
}

.new-text a {
  color: #E8AA31;
  text-decoration: none;
}
.new-text h1 {
  margin-bottom: 2rem;
}

.new-knifes /*, .new-text*/ {   
  padding: 1.5rem 0;
  /*padding: 3rem 0;
  background-image: url("../img/back1.png");
  background-position: center, center;
  background-attachment: fixed; */
}

.new-text {
  color: white;
  line-height:27px;
  font-weight: 500;
  margin-right: 2%;
  width: 48%;
}


#Liked:hover,#Liked:active  {
  stroke: #E8AA31;
  stroke-width: 15%;
}


.liked img {
  margin: 0 .5rem;
}
.articles , .lanterns {
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%)
}
.articles h1 {
  margin: 1rem 0
}
.article-list {
  display:flex;  
}
.article-list :first-child { margin-left: 0 }
.article-list :last-child { margin-right: 0 }

.articles img {
  width: 100%;
}

.single-article {
  width: 375px;
  margin: 1rem;
  background: #FEFEFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.single-article h3 , .single-article p {
  padding-top: 1rem
}

.single-article p {
  opacity: 50%;
}

.article-text {
  padding: 1.3rem;
}

.lantern-list {
  display: flex;
  justify-content: center;
}
.single-lantern {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  margin:1rem
}

.lantern-list :first-child { margin-left: 0 }
.lantern-list :last-child { margin-right: 0 }

.single-lantern img {
  width: 350px;
}
.lantern-text {
  padding: 1rem 0 1rem 1rem;
  line-height:27px;
}

.lantern-text p {
  margin:  2rem 0
}

.lantern-text hr {
  width: 68px;
  border: 2px solid #E8AA31;
}

.res-but {
  display: none;
  width: 100%;
}
.no-res-but {
  width:315px;
}
.lanterns button {
  height: 50px;
  background-color: #E8AA31;
  border: none;
}

.lanterns button p{
  margin: 0;
  color: white;
}
button {
  cursor: pointer;
}

.lantern-container {
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
}

.swiper-pos-white :not(.swiper-pagination-bullet-active),
.promo .swiper-pagination :not(.swiper-pagination-bullet-active),
.promo .mySwiper .swiper-pagination-bullets :not(.swiper-pagination-bullet-active),
.hits .swiper-pagination :not(.swiper-pagination-bullet-active) {
  background: var(--898989);
}

.subheader-swiper .swiper-pos-white :not(.swiper-pagination-bullet-active),
.new .swiper-pos-white:not(.swiper-pagination-bullet-active) {
  background: var(--white);
}

.new .swiper-pagination, .promo .swiper-pagination,
.hits .swiper-pagination {
  bottom: -4px;
}

/* footer */
.first-part {
  background-image: url('../img/back2.png');
  /* padding: clamp(3vw, 5vw, 8vw); */
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

.footer-part {
  background-color: #141414;
  color: white;
  /* max-width: 1920px; */
  line-height: 27px;
}


.first-part h3 { 
  color: #E8AA31;
  font-size: 30px;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.first-part p {
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.03em;
text-align: left;
}

.top-part , .bottom-part{
  display: flex;
}

.special-div {
  max-width: 28%;
}

.footer-part ul li {
  list-style-type: none;
  padding: .5rem 0 ;
  opacity: 80%;
}

.footer-part hr {
  width: 95%;
  margin: auto;
  opacity: 50%;
}

.top-part, .bottom-part   {
  /* padding:clamp(1vw, 2vw,5vw); */
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
}

.top-part div, .bottom-section{
  /* padding:clamp(1vw,3vw,5vw) */
  width: 24%;
  padding-right: 3%;
  font-size: 18px;
}

.top-part p {
  line-height: 21.94px;
  font-weight: 600;

}
.top-part li a {
  font-weight: 500;
}

.bottom-part :last-child { margin-right: 0 }

.footer-part a{ 
  color: white;
  text-decoration: none
}

.footer-part a img {
  width: 41px;
  height: 41px;
}
.footer-part span a{
  color: #E8AA31;
}

.footer-part ul li div {
  display:flex
}

.info {
align-items: center
}

.info p {
  margin-left: 16px;
}

svg {
  width: 20px;
}

.submit-part {
  display: flex;
  margin: 3% 0;
}

.submit-part input {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #ffffff69;
  width: 100%;
  max-width: 325px;
  height: 50px;
  color: white;
  padding: 1rem;
  outline: none;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.submit-part button {
  height: 50px;
  width: 50px;
  background-color: #E8AA31;
  font-size:18px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: 1px solid #ffffff69;
}

.checkbox-part  {
display: flex;
align-items: flex-start;
opacity: 80%;
padding: 1rem 0;
}

.checkbox-part input {
  margin-top: 4px;
  accent-color: #E8AA31;
  width: 16px;
  height: 16px;
}

.checkbox-part p {
  padding:0 0.5rem;
}

.icons-group {
  display: flex;
  margin: 0 7vw;
}
.icons-group img {
  margin: .5rem;
}

.ending-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(2vw, 3.2vw, 5vw) clamp(3%, 8.2%, 8.2%);
  opacity: 80%;
}

.ending-part p:first-child {
  width: 43%;
}
.top-part, .bottom-part {
  flex-direction: row;
  justify-content: space-between;
}

.lan-list {
  display:flex;
}

.lan-list :first-child { margin-left: 0 }
.lan-list :last-child { margin-right: 0 }

@media (width >= 2200px) {
  .main-part, .first-part, .footer {
    margin: 0 auto;
    width: 2200px;
  }

  .knife { max-width: initial }

  .article-list { width: 100% }

  .single-article { width: inherit }

  .types-1, .types-2, .lan-list {
    justify-content: space-between;
  }
}

@media (max-width:1483px) {
  .lantern-list {
    flex-wrap: wrap;
  }

  .lan-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .lantern-list :first-child {
    margin-left: 1rem;
    margin-right: 0;
  }
  /* .lan-list :last-child { margin-right: 1rem } */
  .lan-list .knife {
    margin: 1rem 1rem;
  }
}

@media (width < 1400px) {
  .knife :nth-child(3), .knife :nth-child(4) {
    flex-direction: var(--fd-col);
  }

  .knife :nth-child(3) {
    align-items: var(--ai-s)
  }
}

@media (max-width:1200px) {
  /* .single-lantern {
    flex-wrap: wrap;
  } */
  .knife {
    margin:1rem;
    /* width: 317px; */
  }
  .no-res {
    display: none;
  }
  .res {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-list .single-article {
    margin: 1rem;
  }

  .types {
    padding: clamp(2vw, 3.2vw, 5vw) 19px;
  }

  .types-1 , .types-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .type-list {
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    justify-content: normal;
    width: 290px;
    height: 330px;
  }

  .lan-list .knife {
    margin: 0 2rem 2rem;
  }

  .type-text {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .new {
    display: flex;
    flex-direction: column;
    background-position: 5% 84%, 229% 98%;
    background-size: cover;
  }

  .new .knife { max-height: initial }

  .list-1 img {
    rotate: 270deg;
    width: 270px;
    margin: -4rem 0;

  }
  
  .list-2 img {
    rotate: 78deg;
    width: 205px;
    margin: -4rem 0;
  }
  .list-3 img {
    rotate: -39deg;
    margin-top: 2rem;
    width: 283px;
  }
  .list-4 img {
    width: 140px;
    height: 140px;
  }
  .list-5 img {
    rotate: 310deg;
    width: 240px;
    margin-left:4rem;
    margin-top: -4rem ;
  }
  .list-6 img {
    margin-left:7rem
  }
  .article-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hits h1 {
    margin-bottom: 1rem;
  }
  .new-text p:last-child {
    margin-top: 0.75rem;
  }
}

 .knives-type-page .swiper  {
  width: 48%;
  height: 100%;
}

.knives-type-page .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.knives-type-page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  max-height: 195px;
}


@media(width <= 992px) {
  .knives-type-page .swiper {
    height: 100%;
    width: 100%;
  }
  .knives-type-page .mySwiper {
    width:100%
  }
  .promo-text {
    margin-bottom: 0.8rem;
  }

  .new { background-position: 5% 84%, 229% 98% }
}

@media (max-width:962px) {
  .single-lantern {
    flex-direction: column;
    overflow: hidden;
  }

  .single-lantern:first-child img {
    rotate: -28deg;
  }
  .no-res-but {
    display: none;
  }
  .res-but {
    display: block;
    margin: 2rem 0 0 0;
  }
  .single-lantern img {
    width: 250px;
  }
}

@media (max-width:767px) {
  .special-div {
    max-width: 100%;
  }

  .knife {
    width: 100%;
   }

   .knife > img {
    width: -webkit-fill-available;
   }
  .type-list {
    width: 100%;
    margin: 1rem 0;
  }

  .top-part, .bottom-part {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .top-part div , .bottom-section{
    flex: 0 0 50%;
  }
  .ending-part {
    flex-direction: column;
    margin: 0;
  }

}

@media (max-width:480px) {
  .top-part , .bottom-part{
    flex-direction: column;
    text-align: center;
  }
  .top-part div , .bottom-section {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .special-div {
    max-width: 100%;
  }
  .submit-part input {
    min-width: 224px;

  }
  .ending-part p {
    padding: 1rem;
  }
  .ending-part p:first-child{
    width: 100%;
  }
  .checkbox-part p {
    padding: 0;
  }

  .promo-text {
    flex-direction: column;
  }
  .promo-mini-text { margin-top: 10px }
}

@media (max-width:320px) {
  .top-part div, .bottom-section{
    padding-right: 0;
  }
  .submit-part button {
    display: none;
  }
}



